@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  margin: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e4a7c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #154a7c;
}
